<div class="container">
  <ul class="graphicsList">
    <li>
      <canvas mdbChart
              [chartType]="chartType1"
              [datasets]="chartDatasets1"
              [labels]="chartLabels1"
              [colors]="chartColors1"
              [options]="chartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </li>
    <li>
      <canvas mdbChart
              [chartType]="chartType1"
              [datasets]="chartDatasets2"
              [labels]="chartLabels2"
              [colors]="chartColors2"
              [options]="chartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </li>
    <li>
      <canvas mdbChart
              [chartType]="chartType3"
              [datasets]="chartDatasets3"
              [labels]="chartLabels3"
              [colors]="chartColors3"
              [options]="chartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </li>
    <li>
      <canvas mdbChart
              [chartType]="chartType4"
              [datasets]="chartDatasets4"
              [labels]="chartLabels4"
              [colors]="chartColors3"
              [options]="chartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </li>
  </ul>
</div>
