<h2>Menu</h2>
<ul class="navList">
  <li>
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <i class="material-icons">dashboard</i>
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a routerLink="/tablelist" routerLinkActive="active">
      <i class="material-icons">list</i>
      <span>Table list</span>
    </a>
  </li>
  <li>
    <a routerLink="/gallery" routerLinkActive="active">
      <i class="material-icons">add_photo_alternate</i>
      <span>Images</span>
    </a>
  </li>
  <li>
    <a routerLink="/typography" routerLinkActive="active">
      <i class="material-icons">text_rotation_none</i>
      <span>Typography</span>
    </a>
  </li>
</ul>
